<a href="https://colab.research.google.com/github/jooeunlee0116/Transformer_inflearn/blob/main/250316_10%E1%84%80%E1%85%B5_%E1%84%83%E1%85%A6%E1%84%8B%E1%85%B5%E1%84%90%E1%85%A5%E1%84%87%E1%85%AE%E1%86%AB%E1%84%89%E1%85%A5%E1%86%A8%E1%84%8C%E1%85%A5%E1%86%AB%E1%84%8E%E1%85%A5%E1%84%85%E1%85%B5(%E1%84%91%E1%85%A1%E1%86%AB%E1%84%83%E1%85%A1%E1%84%89%E1%85%B3)_%E1%84%91%E1%85%A1%E1%86%AB%E1%84%83%E1%85%A1%E1%84%89%E1%85%B3%E1%84%80%E1%85%B5%E1%84%8E%E1%85%A9%E1%84%86%E1%85%AE%E1%86%AB%E1%84%87%E1%85%A5%E1%86%B8(1)_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#메서드 : 어떤 일을 하는 "함수"
#객체에 대한 동작 (자동차라는 객체가 있다면 운전하다,멈추다,등등의 동작을 의미)
#프로그래밍에서는 메서드를 사용해 객체의 상태를 변경하거나 특정 작업 수행 가능

In [ ]:
import pandas as pd   #판다스
import numpy as np    #넘파이(수치 계산)
import seaborn as sns  #시각화

In [ ]:
tt=sns.load_dataset('titanic')   #tt라는 변수에 타이타닉 데이터셋 로드

#sns: seaborn 라이브러리 약어

- 데이터프레임의 이해
    - 2차원의 구조
        - 데이터프레임
        - 행, 열
        - index , column
        - 2차원 리스트 유사한 것
        - 데이터 접근 -> 리스트 -> 인덱스로 접근
        - 인덱스만 접근하는 게 아니라, 컬럼이라는 명칭도 있다. 접근하는 법이 좌표 형태로 (1,2) (0,2)
    - 1차원의 구조
        - 시리즈 형태
        - 1차원 -> 컬럼이 없다.
        - 리스트 형태처럼 하나의 차원이라고 생각하시면 된다. 벡터로도 볼 수 있고
        - 브로드캐스팅이 가능하다.

In [ ]:
type(tt)   #객체 타입 반환 : Dataframe 객체 출력함

#데이터 프레임: 2차원 데이터 구조 (행, 열로 구성된 테이블 형식 데이터)

pandas.core.frame.DataFrame

In [ ]:
type(tt['survived'])

#Series :1차원 배열 구조(단일 열의 데이터), 인덱스와 데이터 값이 연결된 형태 , 다양한 데이터 타입 포함 가능(정수,소수,문자 등 )

pandas.core.series.Series

In [ ]:
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
tt['survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64

- 데이터프레임의 접근하는 방식
    - 행과 열
    - 데이터프레임의 접근하는 방식
    - 열, = columns, axis = 1,피처, 독립변수
    - ['컬럼'] [['컬럼1','컬럼2'...n]]

axis=0 : 행 방향
axis=1 : 열 방향

In [ ]:
tt[['age','fare','class']]

      age     fare   class
0    22.0   7.2500   Third
1    38.0  71.2833   First
2    26.0   7.9250   Third
3    35.0  53.1000   First
4    35.0   8.0500   Third
..    ...      ...     ...
886  27.0  13.0000  Second
887  19.0  30.0000   First
888   NaN  23.4500   Third
889  26.0  30.0000   First
890  32.0   7.7500   Third

[891 rows x 3 columns]

In [ ]:
tt['survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64

In [ ]:
tt[0]

KeyError: 0

- 판다스로 인덱싱을 하려면 판다스 문법을 이해하고 있어야 한다!

# 판다스 기초문법

- 열을 접근하는 법 [], [[]]
- 행을 접근하는 법
    - loc - Location
        - 인덱싱 로케이션 처음 생성된 데이터프레임의 인덱스 기준으로 접근하는 것
        - 컬럼을 명시적으로 지정해서 사용할 수 있다. e.g. tt['survived']
    - iloc - Integer Location
        - 넘버링된 인덱스 -> 현재 기준의 데이터프레임의 순서 인덱스로 접근하는 것
        - 컬럼도 모두 다 int로 작성해야 한다.
- 2차원이므로 행과 열을 같이 추출하려면?
    - 데이터프레임.loc[:,:] - [행,열]
    - 데이터프레임.iloc[:,:]- [행,열]
        - loc, iloc 둘의 인덱싱 차이
            - loc -> 10:20 을 출력하면 10:20 모두 출력
            - iloc -> 10:20 을 출력하면 10:19 출력이 된다.
- shape - 행,열
- info() - 데이터프레임 정보
- head(), tail() - 앞에 데이터 확인, 뒤에 데이터 확인
- describe()- 기초통계수치 확인
- dtypes- 데이터 타입 확인
- columns - 컬럼들 확인
- index -인덱스 확인

In [ ]:
tt.loc[2]

#loc: 주어진 "행 레이블" 기준으로 특정 데이터 가져오기
#.loc : 인덱싱 사용해 데이터 접근
#tt 데이터프레임에서 인덱스 2에 해당하는 행을 모두 가져옴

survived                 1
pclass                   3
sex                 female
age                   26.0
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 2, dtype: object

In [ ]:
tt.loc[10:20,'age']

#10부터 20까지 레이블 가진 행 선택
#age 이름의 열 데이터 선택

10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17     NaN
18    31.0
19     NaN
20    35.0
Name: age, dtype: float64

In [ ]:
tt.loc[10:20,['age','fare']]

     age     fare
10   4.0  16.7000
11  58.0  26.5500
12  20.0   8.0500
13  39.0  31.2750
14  14.0   7.8542
15  55.0  16.0000
16   2.0  29.1250
17   NaN  13.0000
18  31.0  18.0000
19   NaN   7.2250
20  35.0  26.0000

In [ ]:
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

loc: 라벨 기반 인덱싱 :인덱스 이름 기반 데이터 선택 *마지막 라벨 포함함

iloc: 정수 기반 인덱싱 : 0부터 시작, *마지막 라벨 제외함

In [ ]:
tt.iloc[10:20,3:7]

##tt변수(객체 타입:데이터프레임)에서 10~19까지 행과 3~6까지 열에 해당하는 데이터 가져오기
#iloc: 마지막 라벨 제외!

     age  sibsp  parch     fare
10   4.0      1      1  16.7000
11  58.0      0      0  26.5500
12  20.0      0      0   8.0500
13  39.0      1      5  31.2750
14  14.0      0      0   7.8542
15  55.0      0      0  16.0000
16   2.0      4      1  29.1250
17   NaN      0      0  13.0000
18  31.0      1      0  18.0000
19   NaN      0      0   7.2250

In [ ]:
tt.loc[10:20:2,'age']

#tt데이터프레임에서 10~20까지 2씩 건너뛰어 선택 : 10,12,14,16,18,20
#age 열에 해당하는 값 가져오기

#loc: 마지막 라벨 포함!

10     4.0
12    20.0
14    14.0
16     2.0
18    31.0
20    35.0
Name: age, dtype: float64

In [ ]:
tt.iloc[10:20:2,3]


#tt데이터프레임에서 10~19까지 2씩 건너뛰어 선택 : 10,12,14,16,18
#iloc: 마지막 라벨 제외!!!! `9까지
#인덱스 3에 해당하는 열 값 가져오기

10     4.0
12    20.0
14    14.0
16     2.0
18    31.0
Name: age, dtype: float64

In [ ]:
a =['a','b','c']

In [ ]:
tt.shape    #: 형태를 반환 (행 수, 열 수)

(891, 15)

In [ ]:
tt.info()   #요약 정보 출력 메서드  :데이터타입, 결측치, 컬럼명 등

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
display(tt.head(10))
display(tt.tail(10))

#display: 주피터 노트북 환경에서 더 보기 좋게 출력하기 위해
#head(10): 첫 10개 행 반환
#tail(10): 마지막 10개 행 반환

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
881,0,3,male,33.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
tt.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [ ]:
tt.tail(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
881,0,3,male,33.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
tt.head(10)
tt.tail(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
881,0,3,male,33.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
tt.columns  #데이터프레임의 열 이름 반환 : 모든 열 이름 확인 가능

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [ ]:
tt.index

#데이터프레임 인덱스 반환
#RangeIndex : 인덱스 범위 (여기서는 0~891까지를 가진다는 것)
#step=1: 인덱스 증가 단계 (0부터 시작하여 1씩 증가)

RangeIndex(start=0, stop=891, step=1)

In [ ]:
tt.dtypes   #각 컬럼(열)의 데이터 타입 반환

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [ ]:
tt.describe()   #통계적 요약 제공
#count: 비어 있지 않은 값의 수
#mean : 평균
#std: 표준편차
#min: 최소
#제 1분위수 , 중앙값, 제 3분위수
##max: 최대

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
tt.describe(include='all')  #모든 데이터 유형에 대해 통계적 요약 제공 메서드
#그냥 .describe()는 수치형 데이터에 대해서만 통계 정보를 반환함

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
count,891.000000,891.000000,891,714.000000,891.000000,891.000000,891.000000,889,891,891,891,203,889,891,891
unique,NaN,NaN,2,NaN,NaN,NaN,NaN,3,3,3,2,7,3,2,2
top,NaN,NaN,male,NaN,NaN,NaN,NaN,S,Third,man,True,C,Southampton,no,True
freq,NaN,NaN,577,NaN,NaN,NaN,NaN,644,491,537,537,59,644,549,537
mean,0.383838,2.308642,NaN,29.699118,0.523008,0.381594,32.204208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.486592,0.836071,NaN,14.526497,1.102743,0.806057,49.693429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,1.000000,NaN,0.420000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,0.000000,2.000000,NaN,20.125000,0.000000,0.000000,7.910400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,0.000000,3.000000,NaN,28.000000,0.000000,0.000000,14.454200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.000000,3.000000,NaN,38.000000,1.000000,0.000000,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.000000,3.000000,NaN,80.000000,8.000000,6.000000,512.329200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
tt.describe(include=['number'])  #수치형 데이터에 대한 통계적 요약 제공

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

.describe()와 .describe(include=['number'])
두 메서드는 기본적으로 동일한 결과를 반환(숫자형 데이터 통계적 요약 정보)

차이점은 .describe()는 기본적으로 숫자형 데이터만,
include 매개변수를 사용하면 다른 데이터 유형(예: 문자열, 날짜 등)을 포함하도록 조정 가능하다는 것

In [ ]:
tt.describe(include=['category']) #범주형 데이터에 대한 통계적 요약 제공

        class deck
count     891  203
unique      3    7
top     Third    C
freq      491   59

## 상황에 따른 데이터프레임 조작
- 데이터 프레임 만드는 법
    - pd.DataFrame({열1:행값들1, 열2:행값들2...n})

- 변수명 바꾸는 법
    - df.rename(columns = {'기존컬럼':'변경할 컬럼'})
    
- 데이터프레임의 원본을 접근하기 위해서는 두 가지 방법을 사용
    - **copy() 데이터 원본 복제**
    - inplace=True 원본에 적용시키는 것
    
- 파생변수들 만들기!
    - 파생변수란?
        - 기존의 데이터를 활용해서 새로운 변수를 만드는 것
            - 시험점수 영어, 수학, 과학 = > (영어 +수학+ 과학) / 3 평균 계산
    - 파생변수를 직관적으로 데이터프레임에서 만들 수 있다.
    - assign, lambda 함수등을 배우겠지만 직관적 사용도 가능하다!
- 내가 원하는 데이터를 찾고, 내가 원하는 파생변수를 만들기!
    - numpy와 함께 사용하면 더욱 쉽게 찾을 수 있다.
    - numpy에서 제공하는 np.where 함수를 사용해서 특정 조건의 데이터를 찾을 수 있다.
        - 해당 조건을 활용해서 파생변수도 만들 수 있다.

In [ ]:
## 데이터프레임 만드는 법
## pd.DataFrame()
df=pd.DataFrame({'분바':['파문기','sql','판다스']})

#df=pd.DataFrame({열1:행값[들], 열2:행값...})

In [ ]:
df

    분바
0  파문기
1  sql
2  판다스

In [ ]:
df.rename(columns={'분바':'분반'})   #열 이름 변경

    분반
0  파문기
1  sql
2  판다스

In [ ]:
df_1=df.copy()  #데이터프레임 원본 복사하기

In [ ]:
df_1 = df_1.rename(columns={'분바':'분반'})

In [ ]:
df_1

    분반
0  파문기
1  sql
2  판다스

In [ ]:
## 원본에서 그대로 적용한다.
df.rename(columns={'분바':'분반'}, inplace=True)

#원본 데이터프레임을 그대로 사용하려면 inplace=True 매개변수 추가해주면 됨!**

In [ ]:
df

    분반
0  파문기
1  sql
2  판다스

In [ ]:
df_1

    분반
0  파문기
1  sql
2  판다스

In [ ]:
df=pd.DataFrame({'이름':['홍길동','이길동','박길동'],
                '영어':[10,20,30],
                '수학':[50,60,70],
                '과학':[90,80,70]})

#데이터프레임 만들기
#pd.DataFrame({'컬럼명': [행,값들],,,})

In [ ]:
df

    이름  영어  수학  과학
0  홍길동  10  50  90
1  이길동  20  60  80
2  박길동  30  70  70

In [ ]:
df.describe(include='all')

#데이터프레임 통계적 요약 정보 보기 -all 쓸 때는 따옴표 같이 넣어주기

         이름    영어    수학    과학
count     3   3.0   3.0   3.0
unique    3   NaN   NaN   NaN
top     홍길동   NaN   NaN   NaN
freq      1   NaN   NaN   NaN
mean    NaN  20.0  60.0  80.0
std     NaN  10.0  10.0  10.0
min     NaN  10.0  50.0  70.0
25%     NaN  15.0  55.0  75.0
50%     NaN  20.0  60.0  80.0
75%     NaN  25.0  65.0  85.0
max     NaN  30.0  70.0  90.0

In [ ]:
df['중간고사평균']=(df['영어'] + df['수학'] + df['과학'])/3

#중간고사평균이라는 열 생성

In [ ]:
df

    이름  영어  수학  과학     중간고사평균
0  홍길동  10  50  90  50.000000
1  이길동  20  60  80  53.333333
2  박길동  30  70  70  56.666667

In [ ]:
## numpy로 찾기
## 타이타닉 데이터 기준으로 나이가 20>= 이런 사람들을 찾고 싶다.
np.where(tt['age']>=20)


#where함수 사용하여 조건에 만족하는 인덱스 찾기
#tt['age']>=20 : age 열 값들이 20이상인지 확인하는 불리언 배열
#np.where: 불리언 배열에서 True인 인덱스 반환

(array([  0,   1,   2,   3,   4,   6,   8,  11,  12,  13,  15,  18,  20,
         21,  23,  25,  30,  33,  34,  35,  37,  40,  41,  51,  52,  53,
         54,  56,  57,  60,  61,  62,  66,  69,  70,  72,  73,  74,  75,
         79,  80,  81,  83,  85,  88,  89,  90,  91,  92,  93,  94,  96,
         97,  98,  99, 100, 102, 103, 104, 105, 106, 108, 110, 112, 113,
        115, 116, 117, 118, 120, 122, 123, 124, 127, 129, 130, 131, 132,
        133, 134, 135, 137, 139, 141, 142, 146, 148, 149, 150, 151, 152,
        153, 155, 157, 160, 161, 162, 167, 169, 170, 173, 174, 177, 178,
        179, 187, 188, 189, 190, 194, 195, 197, 199, 200, 202, 203, 206,
        207, 209, 210, 211, 212, 213, 215, 216, 217, 218, 219, 221, 222,
        224, 225, 227, 230, 231, 232, 234, 236, 239, 242, 243, 244, 245,
        246, 247, 248, 249, 251, 252, 253, 254, 255, 257, 258, 259, 262,
        263, 265, 267, 268, 269, 271, 272, 273, 275, 276, 279, 280, 281,
        285, 286, 287, 288, 289, 290, 292, 293, 294, 296, 299, 308, 309,
        310, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323,
        325, 326, 327, 328, 331, 332, 336, 337, 338, 339, 341, 342, 343,
        344, 345, 346, 349, 350, 353, 355, 356, 357, 360, 361, 362, 363,
        365, 366, 369, 370, 373, 376, 377, 378, 380, 382, 383, 387, 390,
        391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
        404, 405, 406, 408, 412, 414, 416, 418, 421, 422, 423, 426, 429,
        430, 432, 434, 436, 437, 438, 439, 440, 441, 442, 443, 447, 449,
        450, 452, 453, 455, 456, 458, 460, 461, 462, 463, 465, 467, 471,
        472, 473, 474, 476, 477, 478, 482, 483, 484, 486, 487, 488, 491,
        492, 493, 494, 496, 498, 499, 501, 503, 506, 508, 509, 510, 512,
        513, 514, 515, 516, 518, 519, 520, 521, 523, 525, 526, 528, 529,
        534, 536, 537, 539, 540, 543, 544, 545, 548, 551, 553, 554, 555,
        556, 558, 559, 561, 562, 565, 567, 569, 570, 571, 572, 576, 577,
        579, 580, 581, 582, 583, 586, 587, 588, 590, 591, 592, 594, 595,
        597, 599, 600, 603, 604, 605, 606, 607, 608, 609, 610, 614, 615,
        616, 617, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 630,
        631, 632, 635, 636, 637, 638, 640, 641, 645, 647, 649, 652, 655,
        657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 668, 670, 671,
        672, 673, 676, 678, 679, 681, 682, 684, 685, 690, 693, 694, 695,
        696, 698, 699, 701, 703, 704, 705, 706, 707, 708, 710, 712, 713,
        714, 716, 717, 719, 722, 723, 724, 725, 726, 728, 729, 730, 733,
        734, 735, 736, 737, 741, 742, 743, 744, 745, 747, 749, 752, 753,
        754, 756, 758, 759, 761, 762, 763, 765, 767, 769, 770, 771, 772,
        774, 779, 782, 784, 785, 789, 794, 795, 796, 797, 798, 799, 800,
        801, 804, 805, 806, 808, 809, 810, 811, 812, 814, 816, 817, 818,
        820, 821, 822, 823, 829, 833, 835, 836, 838, 840, 842, 843, 845,
        847, 848, 851, 854, 856, 857, 858, 860, 861, 862, 864, 865, 866,
        867, 870, 871, 872, 873, 874, 876, 879, 880, 881, 882, 883, 884,
        885, 886, 889, 890]),)

In [ ]:
# 20살 이상은 '생존확률이 낮음' , 20살이 미만 '생존확률 높음'
tt['new_limit_age']=np.where(tt['age']>=20,'생존확률 낮음','생존확률 높음')

#데이터프레임에 새로운 열 추가
#조건이 True(age가 20 이상)인 경우 '생존확률 낮음' 문자열 할당
#조건이 False(age가 20 미만)인 경우 '생존확률 높음' 문자열 할당

In [ ]:
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,new_limit_age
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,생존확률 낮음
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,생존확률 낮음
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,생존확률 낮음
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,생존확률 낮음
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,생존확률 낮음
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,생존확률 낮음
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,생존확률 높음
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,생존확률 높음
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,생존확률 낮음
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,생존확률 낮음

In [ ]:
## 카테고리나 범주형 데이터 카운팅하는 법, 내림차순 정렬 디폴트
## value_counts()

tt['new_limit_age'].value_counts()

new_limit_age
생존확률 낮음    550
생존확률 높음    341
Name: count, dtype: int64

## 데이터 분석에 필요한 기초 문법들
- query()
    - 성별은 여성인데, pclass 3에 있는 사람들의 fare 평균과 총합을 알고 싶어!
    - 여러 요구조건의 필요한 데이터를 추출하기 위한 기초 문법!
    - query("요구조건 == 값 "), 2개 이상의 조건은 query("요구조건1==값1 & 요구조건2==값2")
- 불린 인덱싱 df[df[True, Fales]]
- sort_values()
- groupby(), agg
- assign()
- merge(), concat() - 1시간 정도 따로 다룰 예정
- melt(), pivot()
- apply()

In [ ]:
## pclass 가 3인 데이터 and 조건으로 여성인 사람을 조건 추출
tt.query("pclass==3 & sex =='female'")

#query: 여러 요구 조건을 문자열로 표현하여 추출

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,new_limit_age
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,생존확률 낮음
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False,생존확률 낮음
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False,생존확률 높음
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True,생존확률 높음
18,0,3,female,31.0,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False,생존확률 낮음
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False,생존확률 높음
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True,생존확률 높음
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True,생존확률 낮음
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False,생존확률 낮음
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,생존확률 높음

In [ ]:
tt.query("pclass==3 & sex =='female'")['fare'].sum()

#조건에 해당하는 데이터프레임에서 fare 열의 합계 계산

2321.1086

In [ ]:
tt.query("pclass==3 & sex =='female'")['fare'].mean()


#조건에 해당하는 데이터프레임에서 fare 열의 평균 계산

16.118809722222224

### 데이터프레임의 문법 원리
- 데이터프레임 -> 데이터프레임 -> 데이터프레임 -> 데이터프레임-> 재구조화 문법이 가능하다.
- . 메서드체이닝으로 문법을 계속 확장할 수 있다.